<h4>Comments</h4>
<% @toilet.comments.each do |comment| %>
   <div class="card w-85">
     <div class="card-body">
       <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
     </div>
   </div>
<% end %>
